@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #ababab; 
  }
::-webkit-scrollbar-thumb {
    background: #797878; 
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


body{
  background: rgb(164,218,255);
  background: linear-gradient(80deg, rgba(164,218,255,1) 0%, rgba(199,192,255,1) 50%, rgba(217,239,255,1) 100%);
}

.gradientbg {
  background: rgb(164,218,255);
  background: linear-gradient(80deg, rgba(164,218,255,1) 0%, rgba(199,192,255,1) 50%, rgba(217,239,255,1) 100%);
}

#root{
  background: rgb(164,218,255);
  background: linear-gradient(80deg, rgba(164,218,255,1) 0%, rgba(199,192,255,1) 50%, rgba(217,239,255,1) 100%);
}